<div id="<%= dom_id patient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= patient.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= patient.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsible:</strong>
    <%= patient.responsible %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= patient.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Responsible phone:</strong>
    <%= patient.responsible_phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= patient.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emergency type:</strong>
    <%= patient.emergency_type %>
  </p>

</div>